#page-preview-container header{
  margin-bottom: 10px;
}

#page-preview-container .logo{
  max-width: 80px;  
}

#page-preview-container .social-renderer > div{
  gap: 11px;
}

#page-preview-container .social-renderer a svg{  
  max-width: 20px;  
}

#page-preview-container .text-renderer h1 {
  font-size: 1rem;
  font-weight: bold;
}

#page-preview-container .text-renderer h2 {
  font-size: .75rem;
  font-weight: bold;
}

#page-preview-container .banner-renderer{

}

#page-preview-container .hr-renderer hr {
  margin: 0 auto;
}

#page-preview-container .link-renderer.width-100 a{
  max-width: auto;
  min-height: .6rem;  
  padding: .1rem .25rem;
}

#page-preview-container .link-renderer.width-100 img{
  max-width: 1.7rem;  
  max-height: 1.7rem;
}

#page-preview-container .link-renderer.width-100 p{
  min-height: 2rem;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;    
  font-size: .6rem;
}

#page-preview-container .link-renderer.width-50 a{
  padding: .4rem .25rem;
}

#page-preview-container .link-renderer.width-50 a > div{
  padding: 0;
}

#page-preview-container .link-renderer.width-50 img{
  max-width: 3.4rem;  
  max-height: 3.4rem;
}

#page-preview-container .link-renderer.width-50 p{
  min-height: 2rem;  
  display: flex;  
  font-size: .6rem;  
  min-height: 45px;
}

#page-preview-container .link-renderer.width-33{
  width: 33%;
  background: green;
}

#page-preview-container .text-renderer p{  
  font-size: .5rem;
}
#page-preview-container .text-renderer ol,
#page-preview-container .text-renderer ul{  
  font-size: .5rem;
}
