.text-renderer h1{
    font-size: 1.75rem;
    font-weight: bold;
}
.text-renderer h1.ql-align-center{
    text-align: center;
}
.text-renderer h2{
    font-size: 1.25rem;
    font-weight: bold;
}
.text-renderer h2.ql-align-center{
    text-align: center;
}
.text-renderer a{
    font-weight: bold;
    text-decoration: underline;
}
.text-renderer p.ql-align-center{
    text-align: center;
}
.text-renderer p.ql-align-right{
    text-align: right;
}
.text-renderer p.ql-align-left{
    text-align: left;
}
.text-renderer ul,
.text-renderer ol{
    margin-left: 20px;
    list-style-type: disc;
}
.text-renderer ul li.ql-align-center,
.text-renderer ol li.ql-align-center{
    text-align: center;
}
.text-renderer ul li.ql-align-right,
.text-renderer ol li.ql-align-right{
    text-align: right;
}
